@mixin clearfix {

    &::after {

        content: "";
        display: table;
        clear: both;

    }

}

@mixin centerXY {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

// base + typo >> general layout + grid >> page layout >> components

@mixin respond($breakpoint) {

    @if $breakpoint == phone { 

        @media (max-width: 37.5em){

            @content
    
        }

    }

    @if $breakpoint == p-tab {

        @media (max-width: 56.25em){

            @content
    
        }
    }

    @if $breakpoint == l-tab {

        @media (max-width: 75em){

            @content
    
        }

    }

    @if $breakpoint == b-desk {

        @media (min-width: 112.5em){

            @content
    
        }

    }
    
}